python-dotenv
Flask
gunicorn>=20.1.0
httpx==0.23.3
beautifulsoup4==4.11.2
lxml==4.9.2
pinecone
sentence-transformers
langchain>=0.1.0
langchain-community>=0.0.38,<0.1.0
langchain-openai>=0.0.38,<0.1.0
huggingface_hub
pydantic>=2.0
pymongo==4.4.0
dnspython==2.3.0