python-dotenv
Flask>=3.0.0
langchain-classic
langchain-community
langgraph
huggingface_hub
sentence-transformers
beautifulsoup4
lxml
httpx
requests
feedparser
google-api-python-client
newsapi-python
redis
gunicorn
