<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>b0bot</title>
    <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
</head>
<body>
    <h1><b>Welcome to b0bot!</b></h1>
    <h3>Your CyberSecurity News API for Automated Bots</h3>
    
    <h2>3 Available LLMs to Choose From:</h2>
    <ul>
        <li><a href="/llama"><span class="icon">⚙️</span><span>Meta-Llama-3-8B-Instruct</span></a></li><br>
        <li><a href="/gemma"><span class="icon">⚙️</span><span>Gemma-2b</span></a></li><br>
        <li><a href="/mistralai"><span class="icon">⚙️</span><span>Mistral-7B-Instruct-v0.2</span></a></li>
    </ul>
    
    <h2>3 Available URL Paths:</h2>
    <ul>
        <li><a href="/llama"><span class="icon">🔗</span><span><code>/llama</code></span></a></li><br>
        <li><a href="/gemma"><span class="icon">🔗</span><span><code>/gemma</code></span></a></li><br>
        <li><a href="/mistralai"><span class="icon">🔗</span><span><code>/mistralai</code></span></a></li>
    </ul>
</body>
</html>
